PyPDF2
python-docx
nltk
tqdm
langchain
langchain-core
langchain-text-splitters
tiktoken
numpy==1.26.4
h5py
spacy
streamlit
plotly
neo4j
sentence-transformers 
langchain-groq 
python-dotenv 
streamlit-agraph
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
